[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
faiss-cpu = "*"
typing-extensions = "*"
scipy = "*"

[dev-packages]
pipenv-setup = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
